<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload and Process Image</title>
    <!-- Include Tailwind CSS via CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900 text-white flex justify-center items-center h-screen">
    <div class="w-full max-w-md p-8 rounded-lg shadow-lg bg-gray-800">
        <h1 class="text-3xl font-bold mb-6 text-center">Upload and Process Image</h1>
        <form action="/" method="post" enctype="multipart/form-data" class="mb-6">
            {% csrf_token %}
            <label for="image" class="block text-sm font-medium mb-2">Select an image:</label>
            <input type="file" id="image" name="image" accept="image/*" required class="p-2 border border-gray-600 rounded-lg w-full">
            <p><span class="text-bold">Note :The Images you upload Will not be saved on ower DataBase</span></p>
            <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg mt-4 w-full">Upload</button>
        </form>

        <!-- Display the processed image if available -->
        {% if html_content %}
            <div class="mb-6 ">
                {{ html_content|safe }}
            </div>
            <div>
                <a href="data:image/png;base64,{{ html_content }}" download="processed_image.png">
                    <button class="bg-green-500 text-white px-4 py-2 rounded-lg w-full">Download Processed Image</button>
                </a>
            </div>
        {% endif %}
    </div>
</body>
</html>
